<app-navbar [logoutfunc]="logoutfunc"></app-navbar>
  <main class="flex-1 p-6 bg-gray-50 mt-8">
    <div class="layout-container flex flex-col md:flex-row gap-6">
        <!-- Sección de Sesiones Reservadas -->
        <div class="section sesiones-section bg-white p-6 rounded-lg shadow-md w-full md:w-2/3">
            <h3 class="text-xl font-semibold custom-secondary-text mb-4">Sesiones Reservadas</h3>
            <div class="session-list space-y-4">
                <div class="session bg-gray-100 p-4 rounded-lg shadow-sm" *ngFor="let session of reservedSessions">
                    <p><span class="font-semibold">Cliente:</span> {{ session.cliente }}</p>
                    <p><span class="font-semibold">Fecha:</span> {{ session.fecha }}</p>
                    <p><span class="font-semibold">Hora:</span> {{ session.hora }}</p>
                    <p><span class="font-semibold">Especialista:</span> {{ session.especialista }}</p>
                </div>
            </div>
            <button class="btn btn-primary mt-4 bg-teal-400 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300" routerLink="/schedule-session">
                Añadir nueva sesión
            </button>
        </div>
  
        <!-- Recomendaciones Saludables -->
        <div class="section recetas-section bg-white p-6 rounded-lg shadow-md w-full md:w-1/3">
            <h3 class="text-xl font-semibold custom-secondary-text mb-4">Recomendaciones Saludables</h3>
            <div class="recommendations-list space-y-4">
                <div class="recommendation bg-gray-100 p-4 rounded-lg shadow-sm" *ngFor="let recipe of healthyRecipes">
                    <h4 class="text-lg font-semibold">{{ recipe.titulo }}</h4>
                    <p>{{ recipe.descripcion }}</p>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Sección de Videos -->
    <div class="section mt-6 bg-white p-6 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold custom-secondary-text mb-4">Recetas Saludables en Video</h3>
        <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/l_oDqT5oS1w" title="Receta Saludable" frameborder="0" class="rounded-lg" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/0CpvuHjPVOM" title="Receta Saludable" frameborder="0" class="rounded-lg" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/-AhuJP3EsCs" title="Receta Saludable" frameborder="0" class="rounded-lg" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
  </main>
  
  <footer class="mt-8 border-t border-gray-200 pt-4 text-center bg-white">
    <p class="text-sm text-gray-600">© {{ currentYear }} Young Miracles. Todos los derechos reservados.</p>
  </footer>
  