@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-primary-text {
  color: #374151;
}
.custom-secondary-text {
    color: #27C4C2;
  }
.custom-primary-bg {
    background-color: #f9fafb ;
}