
  <main class="flex-1 p-6">
    <div class="section mb-8">
      <h3 class="text-lg font-semibold text-teal-600 mb-4">Sesiones Reservadas</h3>
      <div class="session-list flex flex-col gap-4">
        <div class="session bg-white p-4 border border-gray-300 rounded-lg shadow-sm" *ngFor="let session of reservedSessions">
          <p class="text-gray-700"><span class="font-semibold">Cliente:</span> {{ session.adultomayorNombre }}</p>
          <p class="text-gray-700"><span class="font-semibold">Fecha:</span> {{ session.fecha }}</p>
          <p class="text-gray-700"><span class="font-semibold">Estado:</span> {{ session.estado }}</p>
          <div class="flex gap-4 mt-2">
            <button class="btn accept-btn bg-teal-600 text-white px-3 py-1 rounded-md hover:bg-teal-700" >Confirmar</button>
            <button class="btn reject-btn bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600" >Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- sección de reserva -->
    <div class="section mb-8">
      <h3 class="text-lg font-semibold text-teal-600 mb-4">Sesiones Pasadas</h3>
      <div class="request-list flex flex-col gap-4">
        <div class="request bg-white p-4 border border-gray-300 rounded-lg shadow-sm" *ngFor="let session of pastSessions">
          <p class="text-gray-700"><span class="font-semibold">Cliente:</span> {{ session.adultomayorNombre }}</p>
          <p class="text-gray-700"><span class="font-semibold">Fecha:</span> {{ session.fecha }}</p>
          <p class="text-gray-700"><span class="font-semibold">Estado:</span> {{ session.estado }}</p>

        </div>
      </div>
    </div>
  </main>


